@font-face {font-family: rdrlino; src: url(./RDRLino.ttf); }


body {
	font-family: sans-serif;
	text-align: center;
	background-image: URL(./bginfobox.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80vh 40vh;
	font-family: rdrlino;
}

#content {
	position: absolute;
	top: 50%;
	lefT: 50%;
	transform: translate(-50%, -50%);
	
	
}

#footer {
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translate(-50%, 0);
}
